:root {
    --primary-color: #4CAF50;
    --secondary-color: #4CAF50;
    --background-color: #e6e6e6;
    --border-color: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background-color: var(--background-color);
}

header,
nav {
    padding: 10px;
    background-color: var(--secondary-color);
    color: #eeeeee;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header-container h1
{
    margin: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 100%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.card h2 {
    margin-top: 0;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.class-list-btn {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 15px;
}

.class-list-btn:hover {
    background-color: #45a049;
}

.class-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow-y: auto;
}

.class-list-table th,
.class-list-table td {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.class-list-table th {
    background-color: var(--primary-color);
    color: #fff;
}

.hidden {
    display: none;
}

.scrollable {
    height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f0f0f0;
  }
  
.scrollable::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
.scrollable::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  .scrollable::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
  }