:root {
    --primary-color: #5aa55c;
    --secondary-color: #4CAF50;
    --background-color: #fff;
    --border-color: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body
{
    background: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

header {
    height: 75px;
    line-height: 75px;
    border-bottom: 1px solid #CCD1D1;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: white;
}

header h1{
    padding-left: 55px;
    float:left;
    padding-right: 60px;
    color: var(--primary-color);
}

header div{
    padding-left: 1.5rem;
}

header i{
    padding-left: 15px;
}

.active {
    background-color: #ddd;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}




.menu-toggle {
    display: none;
}

.menu-button {
    position: absolute;
    left: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    color: gray;
}

.aside-menu {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: var(--background-color);
    color: white;
    overflow-y: auto;
    transition: left 0.3s ease;
    padding-top: 75px;
}

.aside-menu ul{
    list-style: none;
    padding: 0;
}

.aside-menu li{
    margin: 1rem 0;
    padding-bottom: 10px;
}

.aside-menu a{
    padding: 9px 90px 9px 20px;
    text-decoration: none;
    color: grey;
    font-size: .9rem;
}

.aside-menu i{
    padding-right: 30px;
    padding-left: 10px;
}

.menu-toggle:checked ~ .aside-menu {
    left: 0;
}

.menu-toggle:checked ~ main {
    margin-left: 250px;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-block;
}

.aside-menu nav{
    border-bottom: solid 1px #CCD1D1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    transition: margin-left 0.3s ease;
    padding-top: 75px;
}

.border-container{
    padding: 50px 0px 0px 210px;
}

img{
    border-radius: 50%;
    border: 6px solid var(--primary-color);
    padding: 2px;
}

.pfp{
    display: flex;
}

.name{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 10px;
}

.studno{
    font-style: italic;
}

.pfp p:not(.name){
    color: grey;
    padding-bottom: 5px;
}

.info{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 50px;
}

.border {
    border: 1px solid #D6DBDF;
    border-radius: 10px;
    margin: 15px;
    padding: 40px 70px;
    width: 900px;
    box-shadow: 0 0 10px var(--shadow-color);
    background-color: var(--background-color);
}

.mainheading{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
}

.heading{
    font-size: 12px;
    color: grey;
}

.text{
    font-size: 15px;
}

.container{
    display:flex;
    justify-content: space-between;
}

.top{
    padding-bottom: 25px;
}

.heading{
    padding-bottom: 10px;
}

button  {
    float: right;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

#edit {
    outline: none;
}

.end-editing {
    display: none;
    margin-right: 5px;
}

.editable {
    padding: 0 7px;
}

